body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  .login-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 12px 3px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #fcd535;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
  }
  
  button:hover {
    background-color: #e6b400;
  }
  
  .or {
    margin: 15px 0;
    color: #999;
  }
  
  .social-buttons button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .google-btn {
    background-color: #fff;
    color: #000;
    
  }
  
  .apple-btn {
    background-color:#fff ;
    color: #000;
  }


  


  /* create account */
  
  .create-account {
    color: #fcd535;
    text-decoration: none;
    font-size: 14px;
  }
  
  .create-account:hover {
    text-decoration: underline;
  }